<div class="new-trainer">
    
    <div id="login-title">Login</div>

    <div id="login-form">
        <p>First, what is your name? </p>
        <%= form_tag login_path do %>
            <%= label_tag :name %>
            <%= text_field_tag :name %>
            <br>
            <%= label_tag :password %>
            <%= password_field_tag :password %>
            <br>
            <%= submit_tag "Login" %>
        <% end %>
    


    <br>

    <div>Don't have an account? <%= link_to "Get Started!", home_path %></div>
    </div>

</div>