<!DOCTYPE html>
<html>
  <head>
    <title>PokeSim</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <% if logged_in? %>

      <span class="menu_buttons"
        <%= button_to "Profile", trainer_path(current_user), method: "get", form_class: "myButton" %>
        <%= button_to "Logout", logout_path, method: "get", form_class: "myButton" %>
      </span>

    <% end %>
    <%= yield %>
  </body>
</html>
