<!DOCTYPE html>
<html>
  <head>
    <title>PokeSim</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <% if logged_in? %>
      Hello, <%= current_user_name %>!
      <%= button_to "Profile", trainer_path(current_user), method: "get" %>
      <%= button_to "Logout", logout_path, method: "get" %>
    <% end %>
    <%= yield %>
  </body>
</html>
